<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="job" type="com.nt.open.discron.entity.po.JobPO" />
		<typeAlias alias="jobHis" type="com.nt.open.discron.entity.po.JobHisPO" />
		<typeAlias type="com.nt.open.discron.mybatis.DBCPDataSourceFactory" alias="DBCP"/>
	</typeAliases>


	<!-- <properties resource="conf/db.properties">
	</properties> -->

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="DBCP">
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mybatis/JobMapper.xml" />
		<mapper resource="mybatis/JobHisMapper.xml" />
	</mappers>
</configuration>  